@model AddAsset;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isInserted = Convert.ToBoolean(ViewData["isInsert"]);
}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/AddAsset.css" />
    <link rel="stylesheet" href="~/css/StepBar.css" />
    <script src="~/js/AddAsset.js"></script>
    <script src="~/js/StepBar.js"></script>
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="~/Creator/Index" id="sidetext" style="color:black"><i class="fa fa-home" style="color: #52BAF1"></i>  Dashboard</a>

                </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" id="sidetext" style="color:white"><i class="bi-camera-video-fill" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black"> Video</span></a></li>

                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" id="sidetext" style="color:white"><i class="fas fa-rocket" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Campaigns</span></a></li>
                <li class="nav-item" style="background-color: #F5F5F5; width: 400px;">

                    <a class="nav-link text-truncate" id="sidetext" href="~/Creator/AddAsset" style="background-color: #F5F5F5; width: 400px; color: #52BAF1;"> <i class="bi bi-youtube"></i>   <span class="d-none d-sm-inline" style="color: black;"> Media</span></a>
                </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" id="sidetext" style="color:white"><i class="bi bi-ui-checks-grid" style="color:#52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <body onload="myFunction1('bar1','bar2')">
                <div id="wrapper">
                    <br>
                    <span class='baricon'>1</span>
                    <span id="bar1" class='progress_bar'></span>
                    <span class='baricon'>2</span>
                    <span id="bar2" class='progress_bar'></span>
                    <span class='baricon'>3</span>
                </div>
            </body>
            <div class="wrapper">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <h1 class="active">ADD ASSET </h1>
                    <div asp-validation-summary="All" class="text text-danger help-block"></div>
                    @if (@isInserted)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>New Asset Added Successfully</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                    <!-- Login Form -->
                    @using (Html.BeginForm("AddAsset", "Creator", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label id="lbl" class="form-group required">
                                    Advertisement Title<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="Title" type="text" class="fadeIn second" name="Title" placeholder="Enter Video Title">

                                <label id="lbl">
                                    Content Type<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("ContentTypeId", "", new { @class = "text-danger" })
                                </label>
                                <select asp-for="ContentTypeId" name="ContentTypeId" id="ContentType">
                                    <option value="1">Images</option>
                                    <option value="2">Videos</option>
                                </select>

                                <label id="lbl">
                                    Advertisement Description<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
                                </label>
                                <textarea asp-for="Description" type="text" rows="6" class="fadeIn second" name="Description" placeholder="Enter Description"></textarea>
                            </div>

                            <div class="form-group col-md-6">
                                <label id="lbl">
                                    Start Time<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("StartTime", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="StartDate" type="datetime-local" class="fadeIn second" name="StartDate" placeholder="HH:MM AM/PM">

                                <label id="lbl">
                                    End Time<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("EndTime", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="EndDate" type="datetime-local" class="fadeIn second" name="EndDate" placeholder="HH:MM AM/PM">

                                <label id="lbl">
                                    Advertisement Placement<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("PlacementId", "", new { @class = "text-danger" })
                                </label>
                                <select asp-for="PlacementId" name="PlacementId" id="AdvertisementPlacement">
                                    <option value="1">Top-Left</option>
                                    <option value="2">Top-Right</option>
                                    <option value="3">Bottom-Left</option>
                                    <option value="4">Bottom-Right</option>
                                </select>

                                <label id="lbl">
                                    Video or Image URL<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("Url", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="Url" type="text" class="fadeIn second" placeholder="Enter Website URL">

                                <label id="lbl" for="formFileMultiple" class="form-label">Add Images <span id="errorFileSize" class="text-danger"></span></label>
                                <input class="form-control" asp-for="ProfilePhotoPath" type="file" accept="image/*" name="ProfilePhotoPath" value="img.jpeg" id="formFileMultiple" onchange="readURL(this);" multiple />
                            </div>
                        </div>
                        <input type="button" id="btnCancel" class="fadeIn fourth" onclick="window.location = '@Url.Action("AddCampaignView", "Creator")'" value="Cancel">
                        <input type="submit" class="fadeIn fourth" value="Save">
                    }
                </div>
            </div>
        </div>
    </div>
</div>
