@model CreateCampaign;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "AddCampaignView";
    bool isInserted = Convert.ToBoolean(ViewData["isInsert"]);
}



<head>

    <link rel="stylesheet" href="~/css/temp.css" />
    <script src="~/js/AddVideo.js"></script>
    <link rel="stylesheet" href="~/css/StepBar.css" />
    <script src="~/js/StepBar.js"></script>
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item" width: 400px;"><a class="nav-link text-truncate" href="#" style="color:white"><i class="fa fa-home" style="color:white;"></i><span class="d-none d-sm-inline" id="sidetext" style="color: white;">  DashBoard</span></a> </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" id="sidetext" style="color:white"><i class="bi bi-camera-video-fill" style="color:white"></i>  Videos</a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" id="sidetext" style="background-color: #F5F5F5;width:400px;color:black;"><i class="fas fa-rocket" style="color:black"></i> <span class="d-none d-sm-inline" id="sidetext" style="color: black;">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddAsset" id="sidetext" style="color:white"><i class="bi bi-youtube" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Media</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" id="sidetext" style="color:white"><i class="bi bi-ui-checks-grid" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <h3>Add New Campaign</h3><br /><br />
            <div id="try" style="display:flex">
                <div>
                    <button type="button" class="btn" style="background-color: #56baed; color: white;" onclick="window.location= '@Url.Action( "AddCampaignView", "Creator")'">Create New Campaign</button>
                    <button type="button" class="btn" style="background-color: #56baed; color: white;" onclick="window.location= '@Url.Action( "ExistingCampaign", "Creator")'">Select Existing Campaign</button>
                </div>
                <div style="margin-left: auto; margin-right: 0;">
                    <button type="button" class="btn" style="background-color: #56baed; color: white;" onclick="window.location= '@Url.Action( "SelectAsset", "Creator")'">View Existing Assets</button>&emsp;&emsp;
                    <button type="button" class="btn" style="background-color: #56baed; color: white;" onclick="window.location = '@Url.Action("AddAsset", "Creator")'">Add More Asset</button>
                </div>
            </div>
            @if (@isInserted)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Data Inserted!</strong> Added Successfully
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <body onload="myFunction('bar1')">
                <div id="wrapper">
                    <br>
                    <span class='baricon'>1</span>
                    <span id="bar1" class='progress_bar'></span>
                    <span class='baricon'>2</span>
                    <span id="bar2" class='progress_bar'></span>
                    <span class='baricon'>3</span>
                </div>
            </body>
            @using (Html.BeginForm("AddCampaignView", "Creator", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-5" }))
            {
                <div class="row">
                    <div class="form-group col-6">
                        <label for="txt_campaignName">
                            Campaign Name :<sup style="color:red">*</sup>
                            @Html.ValidationMessage("CampaignName", "", new { @class = "text-danger" })
                        </label>
                        <input asp-for="CampaignName" type="text" name="CampaignName" class="form-control" placeholder="Campaign Name ">
                    </div>
                    <div class="col-6"></div>
                    <div class="form-group col-6">
                        <label for="start_campaign">
                            Start Date of Campaign :<sup style="color:red">*</sup>
                            @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                        </label>
                        <input asp-for="StartDate" type="date" name="StartDate" class="form-control" id="start_campaign" placeholder="Campaign Name ">
                    </div>
                    <div class="col-6"></div>
                    <div class="form-group col-6">
                        <label for="end_campaign">
                            End Date of Campaign :<sup style="color:red">*</sup>
                            @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                        </label>
                        <input asp-for="EndDate" type="date" name="EndDate" class="form-control" id="end_campaign" placeholder="Campaign Name ">
                    </div>
                    <div style="float: right;">
                        <button type="button" onclick="window.location= '@Url.Action( "AddVideoView", "Creator")'" class="btn btn-secondary">Cancel</button>
                        <input type="submit" class="btn btn-primary"  style="height:40px;margin-top:0px;padding-top:10px;" value="Proceed" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
