@model AddVideo;
@using Microsoft.AspNetCore.Http
@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                bool isInserted = Convert.ToBoolean(ViewData["isInsert"]);
                ViewData["step"] = 1; }
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <script src="~/js/AddVideo.js"></script>
    <link rel="stylesheet" href="~/css/Creator/Add Video.css" />
   
</head>



<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col mt-2 col-10">
            <div id="formContent">
                <!-- Tabs Titles -->
                <div class="row">
                    <div class="col-6">
                        <h3 class="ml-4 mt-4 text-left" style="color: #8b8b8b;">
                            Add New Video
                        </h3>
                    </div>
                    <div class="col-6">
                        @*@{Html.Partial("ShowProgressBar", "Creator", new object { step = 1 });}*@
                        <partial name="_ProgressBar" view-data="ViewData">
                    </div>
                </div>

                <div asp-validation-summary="All" class="text text-danger help-block"></div>
                <!-- Login Form -->
                @using (Html.BeginForm("AddVideoView", "Creator", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
    <div class="row">
        <div class="col-4">
            <label>Video Thumbnail Image<sup style="color:red">*</sup>  </label>
            <span id="errorFileSize" style="font-size: 12px" class="text-danger"></span>
        </div>
        <div class="col-5" style="padding-right:50px">
            <br />
            <input asp-for="VideoImage" class="form-control" type="file" name="VideoImage" accept="image/*" id="videoThumbnail" onchange="readURL(this);" />

        </div>
        <div class="col-3">
            <br />
            <img id="thumbnail" class="img-thumbnail" src="#" alt="Thumbnail image">
        </div>

    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Video Title<sup style="color:red">*</sup>  @Html.ValidationMessage("Title", "", new { @class = "text-danger" })</label>
                            <input asp-for="Title" type="text" class="form-control mb-2 mr-sm-2" id="txt_title" name="Title" placeholder="Title">
                            <br /><br />
                            <label>Video Description<sup style="color:red">*</sup> @Html.ValidationMessage("Decription", "", new { @class = "text-danger" })</label>
                            <textarea asp-for="Decription" class="form-control mb-2 mr-sm-2" style="height: 90px;" id="txt_desc" placeholder="Description" name="Decription"></textarea>
                            <div id="VideoFile">
                                <label>
                                    MP4 Video File<sup style="color:red">*</sup> @Html.ValidationMessage("UploadVideoPath", "", new { @class = "text-danger" })
                                </label>
                                <input type='file' asp-for="UploadVideoPath" name="UploadVideoPath" id="mp4videoFile" />
                                <br />
                            </div>
                            <div id="Url" style="display:none">
                                <label>MP4 Video URL<sup style="color:red">*</sup></label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="txt_VideoURL" name="VideoUrl" placeholder="Video URL">
                            </div>

                        </div>
                        <div class="form-group col-md-6">

                            <label id="lbl">
                                Start Date<sup style="color:red">*</sup>
                                @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                            </label>
                            <input asp-for="StartDate" type="datetime-local" class="fadeIn second" name="StartDate" placeholder="HH:MM AM/PM">
                            <br /><br />
                            <label id="lbl">
                                End Date<sup style="color:red">*</sup>
                                @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                            </label>
                            <input asp-for="EndDate" type="datetime-local" class="fadeIn second" name="EndDate" placeholder="HH:MM AM/PM">
                            <br /><br /><br />

                            <label>Video Type</label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="VideoTypeId" id="option1" autocomplete="off" onclick="check('option1')" value="1"> Live
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="VideoTypeId" id="option2" autocomplete="off" onclick="check('option2')" value="2" checked> Pre-Recorded
                            </label><br /><br /><br />

                            <br />
                        </div>
                    </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary" id="btnCancel" onclick="window.location= '@Url.Action( "VideoTable", "Creator")'">Cancel</button>
                                <input type="submit" class="btn btn-primary" id="btnProceed" value="Proceed" />
                            </div>
                         </div>

                }

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/creatorSideBar.js"></script>
    <script src="~/js/StepBar.js"></script>

    <script>
        function check(id) {
            if (document.getElementById(id) === document.getElementById("option1")) {
                document.getElementById("VideoFile").style.display = "none";
                document.getElementById("Url").style.display = "";
                console.log(1);
            } else if (document.getElementById(id) === document.getElementById("option2")) {
                document.getElementById("VideoFile").style.display = "block";
                document.getElementById("Url").style.display = "none";
                console.log(2);
            }
        }

        function HideUrl() {
            document.getElementById("Url").style.display = "none";
            console.log("hideUrl");
        }
    </script>
}

