@using Neosoft.FAMS.Application.Features.Campaign.Queries.GetAll
@model CreateCampaign;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var records = (CampaignGetAllDto)ViewData["data"];
}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/Creator/AddCampaignView.css" />
    <style>
        label span {
            font-size: 12px;
        }

        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2">
            <div class="wrapper">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <h1 class="active">Edit Campaign </h1>

                    <!-- Login Form -->

                    @using (Html.BeginForm("EditCampaign", "Creator", FormMethod.Post, new { enctype = "multipart/form-data", @class = "m-5" }))
                    {
                        DateTime EndDate = (DateTime)records.EndDate;
                        DateTime StartDate = (DateTime)records.StartDate;
                        <input id="CreatedOn" name="CreatedOn" value="@records.CreatedOn" type="hidden" />
                        <input id="CreatedBy" name="CreatedBy" value="@records.CreatedBy" type="hidden" />
                        <input id="AdvertisementId" name="AdvertisementId" value="@records.CampaignId" type="hidden" />

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="txt_campaignName">
                                    Campaign Name :<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("CampaignName", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="CampaignName" type="text" name="CampaignName" class="form-control" value="@records.CampaignName">
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-6">
                                <label for="start_campaign">
                                    Start Date of Campaign :<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                                </label>
                                @Html.EditorFor(model => StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                <label for="end_campaign">
                                    End Date of Campaign :<sup style="color: red">*</sup>
                                    @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                                </label>
                                @Html.EditorFor(model => EndDate, new { htmlAttributes = new { @class = "form-control", @id = "end_campaign" } })
                            </div>


                            <div style="float: right;">
                                <button type="button" onclick="window.location = '@Url.Action("CampaignTable", "Creator")'" class="btn btn-secondary">Cancel</button>
                                <input type="submit" class="btn btn-primary" style="height: 40px; margin-top: 0px; padding-top: 10px;" value="Proceed" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/creatorSideBar.js"></script>
}
