@using Neosoft.FAMS.Application.Features.Advertisement.Queries.GetAll
@model AddAsset;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var records = (AdvertisementListQueryDto)ViewData["data"];
}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/Creator/Add Video.css" />
    <script src="~/js/AddAsset.js"></script>
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col mt-2">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <div class="row">
                        <div class="col-6">
                            <h3 class="ml-4 mt-4 text-left" style="color: #8b8b8b;">
                                Edit Asset
                            </h3>
                        </div>
                    </div>

                    <!-- Login Form -->
                    @using (Html.BeginForm("EditAsset", "Creator", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        DateTime EndDate = (DateTime)records.EndDate;
                        DateTime StartDate = (DateTime)records.StartDate;
                        <input id="CreatedOn" name="CreatedOn" value="@records.CreatedOn" type="hidden" />
                        <input id="CreatedBy" name="CreatedBy" value="@records.CreatedBy" type="hidden" />
                        <input id="AdvertisementId" name="AdvertisementId" value="@records.AdvertisementId" type="hidden" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label id="lbl" class="form-group required">
                                    Advertisement Title<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="Title" type="text" class="fadeIn second" name="Title" value="@records.Title">

                                <label id="lbl">
                                    Content Type<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("ContentTypeId", "", new { @class = "text-danger" })
                                </label>
                                <select asp-for="ContentTypeId" name="ContentTypeId" id="ContentType" onchange="onContentType()">
                                    <option value="1">Images</option>
                                    <option value="2">Videos</option>
                                </select>

                                <label id="lbl">
                                    Advertisement Description<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
                                </label>
                                <textarea type="text" asp-for="Description" style="height: 90px; width: 500px;" class="fadeIn second" name="Description" value="@records.Description"></textarea>
                            </div>

                            <div class="form-group col-md-6">
                                <label id="lbl">
                                    Start Time<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("StartTime", "", new { @class = "text-danger" })
                                </label>
                                @Html.EditorFor(model => StartDate, new { htmlAttributes = new { @class = "form-control,Datecss" } })
                                <label id="lbl">
                                    End Time<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("EndTime", "", new { @class = "text-danger" })
                                </label>
                                @Html.EditorFor(model => EndDate, new { htmlAttributes = new { @class = "form-control,Datecss" } })

                                <label id="lbl">
                                    Advertisement Placement<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("PlacementId", "", new { @class = "text-danger" })
                                </label>
                                <select asp-for="PlacementId" name="PlacementId" id="AdvertisementPlacement">
                                    <option value="1">Top-Left</option>
                                    <option value="2">Top-Right</option>
                                    <option value="3">Bottom-Left</option>
                                    <option value="4">Bottom-Right</option>
                                </select>

                                <label id="lbl">
                                    Video or Image URL<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("Url", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="Url" type="text" class="fadeIn second" value="@records.Url">


                                <label id="lbl" for="formFileMultiple" class="form-label">Add Images or Add Video</label>
                                <input class="form-control" type="file" name="ProfilePhotoPath" value="@records.ImagePath" id="mp4videoFile" multiple />
                                <img src="~/Uploads/Creators/Videos/@records.ImagePath" style="height:150px;width:150px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <input type="button" id="btnCancel" class="btn btn-secondary" onclick="window.location= '@Url.Action( "AddCampaignView", "Creator")'" value="Cancel">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                            </div>
                    }
                </div>
            </div>
        </div>
</div>
@section Scripts{
    <script src="~/js/creatorSideBar.js"></script>
}
