@using Neosoft.FAMS.Application.Features.Campaign.Queries.GetAll
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ExistingCampaign";
    var records = (List<CampaignGetAllDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Creator/ExistingCampaign.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2">
            <div class="row">
                <div class="col-6">
                    <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                        Select Existing Campaign
                    </h3>
                </div>
            </div>
            <div class="row header" style="float: right;">
                <button type="button" class="btn add-new btnAddNewVideo" onclick="window.location = '@Url.Action("AddCampaignView", "Creator")'"><i class="fa fa-plus"></i> Create New Campaign</button>
            </div>
            <div style="margin-top: 80px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th class="nosort">Select</th>
                        <th>Campaign ID</th>
                        <th>Campaign Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var record in records)
                    {
                        if (record.CreatedBy == long.Parse(@Context.Session.GetString("ContentCreatorId")) && record.IsDeleted == false)
                        {
                            <tr>
                                <td><input id="campaignRadioBtn_@record.CampaignId" onclick="changeId('@record.CampaignId')" name="existedCampaign" type="radio"/> &nbsp; </td>
                                <td>@record.CampaignId</td>
                                <td>@record.CampaignName</td>
                                <td>@string.Format("{0:MMM dd, yyyy}", @record.StartDate)</td>
                                <td>@string.Format("{0:MMM dd, yyyy}", @record.EndDate)</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-secondary" id="btnCancel" onclick="window.location = '@Url.Action("AddCampaignView", "Creator")'">Back</button>
                    <button id="proceedBtn" class="btn btn-primary" style="margin-left: 5px;" onclick="insertValue(this)">Proceed</button>
                </div>
                </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/creatorSideBar.js"></script>
    <script src="~/js/ExistingCampaign.js"></script>
}
