@using Neosoft.FAMS.Application.Features.Campaign.Queries.GetAll
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ExistingCampaign";
    var records = (List<CampaignGetAllDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Creator/ExistingCampaign.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item" width: 400px;"><a class="nav-link text-truncate" href="#" style="color:black"><i class="fa fa-home" style="color: #52BAF1;"></i><span class="d-none d-sm-inline" style="color: black;">  DashBoard</span></a> </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" style="color:black"><i class="bi bi-camera-video-fill" style="color: #52BAF1 "></i>  Videos</a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" style="background-color: #F5F5F5; width: 400px; color: #52BAF1;"><i class="fas fa-rocket" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color: black;">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddAsset" style="color:black"><i class="bi bi-youtube" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Media</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" style="color:black"><i class="bi bi-ui-checks-grid" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <h3>Select Existing Campaign</h3>
            <div class="row header" style="float: right;">
                <button type="button" class="btn add-new btnAddNewVideo" onclick="window.location = '@Url.Action("AddCampaignView", "Creator")'"><i class="fa fa-plus"></i> Create New Campaign</button>
            </div>
            <div style="margin-top: 80px;">
                <table id="myTable" class="table table-bordered table-sm table-hover">
                    <thead>
                    <tr>
                    <th>Campaign ID</th>
                    <th>Campaign Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    </thead>
                    <tbody>
                    @foreach (var record in records)
                    {
                        <tr>
                            <td>@record.CampaignId</td>
                            <td>@record.CampaignName</td>
                            <td>@string.Format("{0:MMM dd, yyyy}", @record.StartDate)</td>
                            <td>@string.Format("{0:MMM dd, yyyy}", @record.EndDate)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
