
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CreatorStatVideos = TempData["CreatorStatVideos"];
    var CreatorStatAdvertisements = TempData["CreatorStatAdvertisements"];
    var CreatorStatViews = TempData["CreatorStatViews"];
    var CreatorStatLikes = TempData["CreatorStatLikes"];
    var CreatorStatShares = TempData["CreatorStatShares"];
    var LatestCreatorVideo = TempData["LatestCreatorVideo"];
    var LatestCreatorAds = TempData["LatestCreatorAds"];
    var CreatorLatestViews = TempData["CreatorLatestViews"];
    var CreatorLatestLikes = TempData["CreatorLatestLikes"];



}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
    <script src="~/js/AdminDashboard.js"></script>
    <script>

    </script>
</head>
<div class="row" style="background-color: #F5F5F5;">
    @Html.Partial("_CreatorSideBar")
    <div class="col pt-2">
        <div class="jumbotron" style="margin: 10px 5px 5px 5px; height: 400px;">
            <h2 class="h6 font-weight-bold text-left mb-4" style="color: black;">Account Analysis</h2>
            <div class="row">
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="bg-white rounded-lg p-3 shadow">
                        <h2 class="h6 font-weight-bold text-center mb-4">Video Uploads</h2>
                        <h3 class="h6 font-weight-bold text-center mb-4">@CreatorStatVideos</h3>

                        <!-- Progress bar 1 -->
                        <div class="progress mx-auto" data-value='@CreatorStatVideos'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">+@LatestCreatorVideo<sup class="small"></sup></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="bg-white rounded-lg p-3 shadow">
                        <h2 class="h6 font-weight-bold text-center mb-4">Advertisements</h2>
                        <h3 class="h6 font-weight-bold text-center mb-4">@CreatorStatAdvertisements</h3>

                        <!-- Progress bar 2 -->
                        <div class="progress mx-auto" data-value='@CreatorStatAdvertisements'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">+@LatestCreatorAds<sup class="small"></sup></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="bg-white rounded-lg p-3 shadow">
                        <h2 class="h6 font-weight-bold text-center mb-4">Video Views</h2>
                        <h3 class="h6 font-weight-bold text-center mb-4">@CreatorStatViews</h3>

                        <!-- Progress bar 3 -->
                        <div class="progress mx-auto" data-value='@CreatorStatViews'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">+@CreatorLatestViews<sup class="small"></sup></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="bg-white rounded-lg p-3 shadow">
                        <h2 class="h6 font-weight-bold text-center mb-4">Video Likes</h2>
                        <h3 class="h6 font-weight-bold text-center mb-4">@CreatorStatLikes</h3>

                        <!-- Progress bar 4 -->
                        <div class="progress mx-auto" data-value='@CreatorStatLikes'>
                            <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">+@CreatorLatestLikes<sup class="small"></sup></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


       
                           
    </div></div>
    @section Scripts{

        <script src="~/js/sideBar.js"></script>
    }



