@using Neosoft.FAMS.Application.Features.Advertisement.Queries.GetAll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ExistingCampaign";
    var records = (List<AdvertisementListQueryDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item" width: 400px;"><a class="nav-link text-truncate" href="~/Creator/Index" style="color:black"><i class="fa fa-home" style="color: #52BAF1;"></i><span class="d-none d-sm-inline" style="color: black;">  DashBoard</span></a> </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" style="color:black"><i class="bi bi-camera-video-fill" style="color: #52BAF1"></i>  Videos</a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" style="background-color: #F5F5F5;width:400px;color:black;"><i class="fas fa-rocket" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color: black;">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddAsset" style="color:black"><i class="bi bi-youtube" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Media</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" id="sidetext" style="color:black"><i class="bi bi-ui-checks-grid" style="color: #52BAF1"></i> <span class="d-none d-sm-inline" style="color:black">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <div class="row header">
                <h3>Select Existing Assets</h3>
            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th class="no-sort">Select</th>
                            <th>Asset ID</th>
                            <th class="no-sort">Thumbnail Image</th>
                            <th>Asset Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            if (!(bool)@record.IsDeleted)
                            {
                                <tr>
                                    <td><input type="checkbox" />    &nbsp;   </td>
                                    <td>@record.AdvertisementId</td>
                                    @if (@record.ImagePath != null)
                                    {
                                        <td><img src="~/Uploads/Creators/Videos/@record.ImagePath" alt="profile" style="height: 50px; width: 50px;" class="rounded-circle"/></td>
                                    }
                                    else
                                    {
                                        <td><img src="~/DefaultPhotos/video-thumbnail-default.png" alt="profile" style="height:50px;width:50px;" class="rounded-circle"/></td>
                                    }
                                    <td>@record.Title</td>
                                    <td>@string.Format("{0:MMM dd, yyyy}", @record.StartDate)</td>
                                    <td>@string.Format("{0:MMM dd, yyyy}", @record.EndDate)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="float:right; margin-top: 10px;">
                <button class="btn btn-secondary">Previous</button>
                <button class="btn btn-primary">Proceed</button>
            </div>
        </div>
    </div>
</div>
