@using Neosoft.FAMS.Application.Features.Advertisement.Queries.GetAll;
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ExistingCampaign";
    var records = (List<AdvertisementListQueryDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2">
            <div class="row header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                            Select Existing Assets
                        </h3>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th class="nosort">Select</th>
                            <th>Asset ID</th>
                            <th class="nosort">Thumbnail Image</th>
                            <th>Asset Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            if (@record.CreatedBy == long.Parse(@Context.Session.GetString("ContentCreatorId")) && @record.IsDeleted == false)
                            {

                                <tr>
                                    <td><input id="id_@record.AdvertisementId" type="checkbox" onchange="insertValue(this)" />    &nbsp;   </td>
                                    <td>@record.AdvertisementId</td>
                                    @if (@record.ImagePath != null)
                                    {
                                        <td><img src="~/Uploads/Creators/Videos/@record.ImagePath" alt="profile" style="height: 50px; width: 50px;" class="rounded-circle" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="~/DefaultPhotos/video-thumbnail-default.png" alt="profile" style="height:50px;width:50px;" class="rounded-circle" /></td>
                                    }
                                    <td>@record.Title</td>
                                    <td>@string.Format("{0:MMM dd, yyyy}", @record.StartDate)</td>
                                    <td>@string.Format("{0:MMM dd, yyyy}", @record.EndDate)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="float:right; margin-top: 10px;">
                <button class="btn btn-secondary" onclick="window.location= '@Url.Action( "AddCampaignView", "Creator")'">Back</button>
                <button id="proceedBtn" style="display: none;" class="btn btn-primary" onclick="window.location= '@Url.Action( "AddExistingAssets", "Creator")'">Proceed</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/creatorSideBar.js"></script>
    <script>
        function insertValue(elem) {
            $("#proceedBtn").css("display", "inline");

            var Id = $(elem).attr("id");
            console.log(Id);
            var advertisementId = Id.split('_');
            $.ajax({
                type: 'GET',
                url: '/Creator/AddExistingAssetId/' + advertisementId[1],
                async: false,
                contentType: 'application/json',
                success: function (data) {

                },
                error:function(error) {

                }
            });
        }
    </script>
}
}
