@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "VideoList";
    var records = (List<VideoGetAllDto>)ViewData["data"];
}
<head>

    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
    <style>
        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")

        <div class="col pt-2 col-10">
            <div class="row">
                <div class="col-6">
                    <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                        Video List
                    </h3>
                </div>
            </div>
            <div class="row header">
                <div style="float: right;">
                    <button style="float: right; margin-right: 5px; margin-bottom: 5px; width: 220px; height: 50px; background-color: #C1C0C0; color: white;" type="button" class="btn add-new" onclick="window.location = '@Url.Action("AddVideoView", "Creator")'"><i class="fa fa-plus"></i> Add New Video</button>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th class="nosort">Thumbnail Image</th>
                            <th>Video Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var record in records)
                    {
                        <tr>
                            @if (@record.VideoImage != null)
                            {
                                <td><img src="/Uploads/Creators/Videos/@record.VideoImage" alt="profile" style="height: 50px; width: 50px;" /></td>
                            }
                            else
                            {
                                <td><img src="/DefaultPhotos/video-thumbnail-default.png" alt="profile" style="height: 50px; width: 50px;" /></td>
                            }
                            <td>@record.Title</td>
                            <td>@string.Format("{0:MMM dd, yyyy}", @record.StartDate)</td>
                            <td>@string.Format("{0:MMM dd, yyyy}", @record.EndDate)</td>
                            <td>
                                <a class="edit" href="EditVideoView/@record.VideoId.ToString()" title="Edit" data-toggle="tooltip"><i class="material-icons" style="color: green"></i></a>
                                <a id="deleteTag" class="delete" title="Delete" onClick="deleteCreator('DeleteVideo/@record.VideoId.ToString()')" data-toggle="modal" data-target="#exampleModalCenter" data-toggle="tooltip"><i class="material-icons" style="color: red"></i></a>
                               

                                </td>
                        </tr>
                    }
                    </tbody>
                </table>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body" style="height: 60px;">
                                Are you sure you want to Delete this record?
                            </div>
                            <div class="modal-footer">
                                <a href="VideoTable" class="btn btn-secondary">No</a>
                                <a id="hrefElement" class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function deleteCreator(hrefLink) {
            console.log(hrefLink);
            var element = document.getElementById("hrefElement");
            console.log(element);
            element.href = hrefLink.toLocaleString();
        }
    </script>
</div>
@section Scripts{

    <script src="~/js/creatorSideBar.js"></script>
}
