@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "VideoList";
    var records = (List<VideoGetAllDto>)ViewData["data"];
}
<head>

    <link rel="stylesheet" href="~/css/temp.css" />
    <script src="~/js/AddVideo.js"></script>

    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
            text-align: center;
        }

        .table td {
            text-align: center;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        
        <div class="col pt-2">
            <br /><br />
            <div class="row header">
                <h3 style="text-align: left; margin-left: 15px; color: #56baed;">Videos</h3>
                <button style="margin-left: auto; margin-right: 5px; margin-bottom: 5px; width: 260px; height: 50px; background-color: #56baed; color: white;" type="button" class="btn add-new" onclick="window.location= '@Url.Action( "AddVideoView", "Creator")'"><i class="fa fa-plus"></i> Add New Video</button>
            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-bordered table-sm table-hover">
                    <thead style="background-color: #56baed;color:white;">
                        <tr>
                            <th>Video ID</th>
                            <th class="no-sort">Thumbnail Image</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Video Title</th>
                            <th class="no-sort">Video Type</th>
                            <th>Player Type</th>
                            <th>Video URL</th>
                            <th>Upload Video Path</th>
                            <th>Video Category</th>
                            <th class="no-sort">Created By</th>
                            <th class="no-sort">Created On</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                        <tr>
                            <td>@record.VideoId</td>
                            <td>@record.VideoImage.ToString()</td>
                            <td>@record.StartDate.ToString()</td>
                            <td>@record.EndDate.ToString()</td>
                            <td>@record.Title</td>
                            <td>@record.VideoTypeId</td>
                            <td>@record.PlayerTypeId</td>
                            <td>@record.VideoUrl</td>
                            <td>@record.UploadVideoPath</td>
                            <td>@record.VideoCategoryId</td>
                            <td>@record.CreatedBy</td>
                            <td>@record.CreatedOn</td>
                            <td>
                                <a class="edit" href="EditVideo/@record.CreatedBy.ToString()" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <script>
                $(document).ready(function () {
                    $('#myTable').dataTable({
                        "columnDefs": [{ targets: 'no-sort', orderable: false }]
                    });
                    console.log(1);
                });
            </script>
        </div>
    </div>
</div>
