@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ExistingCampaign";
    var records = (List<ContentCreatorDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/CreatorList.css" rel="stylesheet" />
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        @Html.Partial("_SideBar")
        <div class="col pt-2">
            <div class="row header">
                <h3>Content Creators</h3>
                <button type="button" class="btn add-new btnAddNewCreator" onclick="window.location= '@Url.Action( "CreatorRegisteration", "Admin")'"><i class="fa fa-plus"></i> Add New Content Creator</button>
                <button type="button" class="btn add-new btnAddNewCreator" onclick="window.location= '@Url.Action( "VideoTable", "Admin")'"><i class="fa fa-plus"></i> View Video List</button>

            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-bordered table-sm table-hover">
                    <thead style="background-color: #56baed;color:white;">
                        <tr>
                            <th>Sr No.</th>
                            <th>Profile</th>
                            <th>Content Creator Name</th>
                            <th>Email ID</th>
                            <th>Contact Number</th>
                            <th>Account Created Date</th>
                            <th class="no-sort">Status</th>
                            <th class="no-sort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1;}
                        @foreach (var record in records)
                        {
                            <tr>
                                <td>@i</td>
                                <td><img src="/Uploads/Creators/Images/@record.ProfilePhotoPath" alt="profile" style="height:50px;width:50px;"  class="rounded-circle" /></td>
                                <td>@record.CreatorName.ToString()</td>
                                <td>@record.EmailId</td>
                                <td>@record.MobileNumber</td>
                                <td>@record.CreatedOn</td>
                                @if (record.Status == true)
                                {
                                    <td style="color:limegreen">Active</td>
                                }
                                else
                                {
                                    <td style="color:red">Deactive</td>
                                }
                                <td>
                                    <a class="edit" href="EditCreator/@record.ContentCreatorId.ToString()" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>