@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@using Neosoft.FAMS.WebApp.Services;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ExistingCampaign";
    var records = (List<ContentCreatorDto>)ViewData["data"];
    bool isDeleted = Convert.ToBoolean(ViewData["isDelete"]);
    Common _common = new Common();

}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/CreatorList.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />

    <style>
        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        @Html.Partial("_SideBar")
        <div class="col pt-2">

            <h3>Content Creators</h3>
            <div class="row header" style="float: right;">
                <button type="button" class="btn add-new btnAddNewCreator" onclick="window.location = '@Url.Action("CreatorRegisteration", "Admin")'"><i class="fa fa-plus"></i> Add New Content Creator</button>
                <button type="button" class="btn add-new btnAddNewVideo" onclick="window.location = '@Url.Action("VideoTable", "Admin")'"><i class="fa fa-plus"></i> View Video List</button>
            </div>
            <div id="tbl">
                @if (@isDeleted)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Content Creator Deleted Successfully</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr class="heading">
                            <th class="nosort">Profile</th>
                            <th>Name</th>
                            <th>Videos</th>
                            <th>Email ID</th>
                            <th>Phone Code</th>
                            <th>Mobile Number</th>
                            <th>Created On</th>
                            <th>Status</th>
                            <th class="nosort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            if (!@record.isDeleted)
                            {
                                <tr>
                                    @if (record.ProfilePhotoPath != null)
                                    {
                                        <td><img src="/Uploads/Creators/Images/@record.ProfilePhotoPath" alt="profile" style="height: 50px; width: 50px;" class="rounded-circle" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="/DefaultPhotos/default_profile.png" alt="profile" style="height: 50px; width: 50px;" class="rounded-circle" /></td>
                                    }
                                    <td>@record.CreatorName.ToString()</td>
                                    <td><a href="GetCreatorVideoListById/@record.ContentCreatorId.ToString()?CreatorName=@record.CreatorName">@record.TotalVideos</a></td>
                                    <td>@record.EmailId</td>
                                    @{
                                        int id = (int)@record.CountryId;
                                        var phoneCode = _common.GetPhoneCode(id);
                                    }
                                    <td>+(@phoneCode)</td>
                                    <td>@record.MobileNumber</td>
                                    <td>@string.Format("{0:MMM dd, yyyy}", @record.CreatedOn)</td>
                                    @if (record.Status == true)
                                    {
                                        <td style="color: limegreen">Active</td>
                                    }
                                    else
                                    {
                                        <td style="color: red">Deactive</td>
                                    }
                                    <td>
                                        <a class="edit" href="EditCreator/@record.ContentCreatorId.ToString()" title="Edit" data-toggle="tooltip"><i class="material-icons" style="color: green"></i></a>
                                        <a id="deleteTag" class="delete" onClick="deleteCreator('DeleteCreator/@record.ContentCreatorId.ToString()')" data-toggle="modal" data-target="#exampleModalCenter" title="Delete" data-toggle="tooltip"><i class="material-icons" style="color: red"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @* Popup Modal *@
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body" style="height: 60px;">
                                Are you sure you want to Delete this record?
                            </div>
                            <div class="modal-footer">
                                <a href="CreatorsList" class="btn btn-secondary">No</a>
                                <a id="hrefElement" class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/sideBar.js"></script>
    <script>
        function deleteCreator(hrefLink) {
            console.log(hrefLink);
            var element = document.getElementById("hrefElement");
            console.log(element);
            element.href = hrefLink.toLocaleString();
        }
    </script>
}