@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@model CreatorRegisteration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var records = (ContentCreatorDto)ViewData["data"];

}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/CreatorRegisteration.css" />
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        @Html.Partial("_SideBar")

        <div class="col pt-2">
            <div class="wrapper">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <h2 class="active"> EDIT Creator </h2>

                    <!-- Login Form -->
                    @using (Html.BeginForm("EditCreator", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input id="CreatedOn" name="CreatedOn" value="@records.CreatedOn" type="hidden" />
                        <input id="LoginId" name="LoginId" value="@records.LoginId" type="hidden" />
                        <input id="ContentCreatorId" name="ContentCreatorId" value="@records.ContentCreatorId" type="hidden" />

                        <div class="form-row">
                            <label id="lbl" for="formFileMultiple" class="form-label">Update Profile Image</label>
                            <input class="form-control" type="file" name="ProfilePhotoPath" value="@records.ProfilePhotoPath" id="formFileMultiple"  />
                            <img src="~/Uploads/Creators/Images/@records.ProfilePhotoPath"  style="height:150px;width:150px;">

                            <div class="form-group col-md-6">
                                <label id="lbl" class="form-group required">
                                    Name<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("CreatorName", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="CreatorName" type="text" class="fadeIn second" name="CreatorName" value="@records.CreatorName">

                                <label id="lbl">
                                    Address1<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("Address1", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="Address1" type="text" class="fadeIn third" name="Address1" value="@records.Address1">

                                <label id="lbl">Country<sup style="color:red">*</sup></label>
                                <select id="formCity" style="margin:10px 10px 0px 35px" name="CountryId">Country</select>

                                <label id="lbl">
                                    Mobile Number<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("MobileNumber", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="MobileNumber" type="text" class="fadeIn second" name="MobileNumber" value="@records.MobileNumber">

                                <label id="lbl">
                                    Status &nbsp;&nbsp;&nbsp;
                                    @if (records.Status.Value == true)
                                    {
                                        <input asp-for="Status" name="Status" type="radio" value=true checked  /><label>Active &nbsp; &nbsp; &nbsp;</label>
                                        <input asp-for="Status" name="Status" type="radio" value=false /><label>Deactive</label>
                                     }
                                    else
                                    {
                                        <input asp-for="Status" name="Status" type="radio" value=true /><label>Active &nbsp; &nbsp; &nbsp;</label>
                                        <input asp-for="Status" name="Status" type="radio" value=false checked /> <label>Deactive</label>
                                    }
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label id="lbl">
                                    Email<sup style="color:red">*</sup>
                                    @Html.ValidationMessage("EmailId", "", new { @class = "text-danger" })
                                </label>
                                <input asp-for="EmailId" type="text" class="fadeIn first" name="EmailId" value="@records.EmailId">

                                <label id="lbl">Address2</label>
                                <input type="text" class="fadeIn second" value="@records.Address2" name="Address2" placeholder="Address2"><br />

                                <label id="lbl">City<sup style="color:red">*</sup></label>
                                <select id="formCity" style="margin:10px 10px 0px 35px" name="CityId">City</select>

                                <div style="float:left">
                                    <label id="lbl">Additional remark</label>
                                    <textarea type="text" class="fadeIn third" value="@records.AdditionalRemark" rows="4" name="AdditionalRemark" placeholder="Additional remark"></textarea>
                                </div>
                                <br /><br />
                            </div>
                        </div>
                        <input type="button" id="btnCancel" onclick="window.location= '@Url.Action( "CreatorsList", "Admin")'" class="fadeIn fourth" value="Cancel">
                        <input type="submit" class="fadeIn fourth" value="Update">
                    }
                </div>
            </div>
        </div>
    </div>
</div>
