
@using Neosoft.FAMS.Application.Features.Viewer.Queries.GetAll;
@using Neosoft.FAMS.WebApp.Services
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ViewerList";
    var records = (List<ViewerDto>)ViewData["data"];
    Common _common = new Common();
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row">
        @Html.Partial("_SideBar")
        <div class="col pt-2 col-10">
            <div class="row header">
                <div class="row">
                    <div class="col-6">
                        <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                            Viewers
                        </h3>
                    </div>
                </div>
            </div>
            <div id="tbl" style="margin-top:20px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email ID</th>
                            <th>Phone Code</th>
                            <th>Mobile Number</th>
                            <th>Account Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            <tr>
                                <td>@record.FirstName.ToString()</td>
                                <td>@record.LastName.ToString()</td>
                                <td>@record.EmailId</td>
                                @{
                                    int id = (int)@record.CountryId;
                                    var phoneCode = _common.GetPhoneCode(id);
                                }
                                <td>+(@phoneCode)</td>
                                <td>@record.MobileNumber</td>
                                <td>@string.Format("{0:MMM dd, yyyy}", @record.CreatedOn)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@section Scripts{

    <script src="~/js/sideBar.js"></script>
}
