
@using Neosoft.FAMS.Application.Features.Viewer.Queries.GetAll;
@using Neosoft.FAMS.WebApp.Services
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ViewerList";
    var records = (List<ViewerDto>)ViewData["data"];
    Common _common = new Common();
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/ViewerList.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />
    <script src="~/js/AddVideo.js"></script>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">

                <li class="nav-item">
                    <a class="nav-link text-truncate" href="~/Admin/Index" style="color:black"><i class="fa fa-home" style="color: #52BAF1"></i>  Dashboard</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="~/Admin/CreatorsList" style="color:black"><i class="bi bi-person-fill" style="color: #52BAF1"></i>  Content Creators</a>

                </li>
                <li class="nav-item" style="background-color: #F5F5F5; width: 400px;">

                    <a class="nav-link text-truncate" id="sidetext" href="~/Admin/ViewerList" style="background-color: #F5F5F5; width: 400px; color: #52BAF1;"> <i class="bi bi-person-fill"></i>   <span class="d-none d-sm-inline" style="color: black;"> Viewers</span></a>
                </li>

            </ul>
        </div>
        <div class="col pt-2">
            <div class="row header">
                <h3>Viewers</h3>
            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email ID</th>
                            <th>Phone Code</th>
                            <th>Mobile Number</th>
                            <th>Account Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            <tr>
                                <td>@record.FirstName.ToString()</td>
                                <td>@record.LastName.ToString()</td>
                                <td>@record.EmailId</td>
                                @{
                                    int id = (int)@record.CountryId;
                                    var phoneCode = _common.GetPhoneCode(id);
                                }
                                <td>+(@phoneCode)</td>
                                <td>@record.MobileNumber</td>
                                <td>@string.Format("{0:MMM dd, yyyy}", @record.CreatedOn)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
