@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@using Neosoft.FAMS.Application.Features.Template.Queries.GetAllById
@using Neosoft.FAMS.WebApp.Services

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoRecords = (VideoGetAllDto)ViewData["videoData"];
    var advertiserecords = (List<GetAllTemplateByIdDto>)ViewData["advertiseData"];
    var creatorRecords = (ContentCreatorDto)ViewData["creatorData"];
    var likes = TempData["Likes"];
    var dislikes = TempData["Dislikes"];
    var views = TempData["Views"];
    var shares = TempData["Share"];
    var videos = TempData["CreatorVideos"];
    var status = "null";
    if (TempData["likeStatus"] != null)
    {
        status = TempData["likeStatus"].ToString();
    }
    var session = Convert.ToInt64(TempData["Session"]);
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Viewer/VideoPlayer.css" />
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
    <style>
        #instructions {
            max-width: 100%;
            max-height: 50%;
            text-align: left;
            margin: 30px 100px;
        }
        /* Show the controls (hidden at the start by default) */
        .video-js .vjs-control-bar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        #centreImg {
            height: 470px;
            width: 200px;
            border: 5px solid gray;
        }

        .imgStyle {
            height: 220px;
            width: 250px;
            border: 5px solid #D3D3D3;
        }

        video {
            height: 220px;
            width: 250px;
            object-fit: cover !important;
            border: 5px solid #D3D3D3;
        }

        .videoOne {
            height: 220px;
            width: 440px;
            object-fit: cover !important;
            border: 5px solid #D3D3D3;
        }

        #centreImg1 {
            height: 460px;
            margin-left: 0px;
            width: 100%;
            border: 5px solid #D3D3D3;
        }

        .imgW {
            width: 100% !important;
        }

        .col-12, .col-md-12, .pl-3 {
            padding-left: 0px;
        }
    </style>
</head>
<div id="instructions">
    <partial name="_ajaxError">
        <video id="my_video_1"
               class="video-js vjs-default-skin vjs-big-play-centered"
               width="100%" height="100%"
               controls
               preload="none" poster='/Uploads/Creators/Videos/@videoRecords.VideoImage'
               data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source src="/Uploads/Creators/Videos/@videoRecords.UploadVideoPath" type='video/mp4' />

        </video>
        <br />
        <h3>
            <b> @videoRecords.Title </b>
        </h3>
        <label><label id="views">@views </label> <b>  <i class="fas fa-eye"></i></b></label>

        <br />


        <div class="row" align="left">
            <div class="col">
                <button id="like" type="button" class="btn btn-primary"><span id="likeSpan">@likes</span><span>  </span><span id="likeIcon" class="fa fa-thumbs-o-up"></span></button>&emsp;&emsp;

                <button id="dislike" type="button" class="btn btn-primary"><span id="dislikeSpan">@dislikes</span><span>  </span><span id="dislikeIcon" class="fa fa-thumbs-o-down"></span> </button>&emsp;&emsp;

                <button type="button" class="btn btn-primary view-modal">@shares <span class="fa fa-share share"><span>  </span></span> Share</button>
            </div>
        </div>

        <input type="text" id="videoId" value="@videoRecords.VideoId" hidden />
        <input type="text" id="viewerId" value="@session" hidden />
        <input type="text" id="likeStatus" value="@status" hidden />
        <br />
        <hr />

        <div class="d-flex flex-row no-gutters">
            <div class="flex-shrink-1 flex-md-shrink-1 flex-lg-shrink-1 mr-3">
                @if (creatorRecords.ProfilePhotoPath == null)
                {
                    <img src="~/DefaultPhotos/default_profile.png" alt="Avatar" style="width: 80px; height: 80px;" class="rounded-circle" />
                }
                else
                {
                    <img src="~/Uploads/Creators/Images/@creatorRecords.ProfilePhotoPath" alt="Avatar" style="width: 80px; height: 80px;" class="rounded-circle" />
                }
            </div>
            <div class="mr-3">
                <h4><b>@creatorRecords.CreatorName</b></h4>
                <h6>@videos Videos</h6>
                <h6 style="color: grey;">Published On :@string.Format("{0:MMM dd, yyyy}", @videoRecords.CreatedOn)</h6>
            </div>

            <div class="flex-fill" style="border-left: 3px solid #D3D3D3; justify-content: center; ">
                <h4 style="margin-left: 15px;"><b>Video Description : </b></h4>
                <p style="text-indent:1em each-line; margin-left: 15px;" id="ContentDescription">

                    @videoRecords.Decription
                </p>
            </div>
        </div>
        <hr />

        <div style="padding-left: 0px;" id="imgStyle">
            @if (advertiserecords.Count() == 3)
            {

            <div class="container pt-4">
                <div class="row pt-4" style="border: 5px solid #D3D3D3">
                    <div class="col-lg-6 mb-3 mb-lg-0 ">
                        @if (advertiserecords[0].ImagePath == null)
                        {
                            <img src="/Uploads/Creators/Images/1185912a-2478-47ab-95c9-d8ed94358969_img3.jfif"
                                 class="rounded ml-4 mb-3 imgStyle imgW"
                                 alt="" />
                        }
                        else
                        {
                            var check = advertiserecords[0].ImagePath.Split(".");
                            if (check[1] == "mp4")
                            {
                                <video class="rounded ml-2 mb-2 imgW videoOne" controls>
                                    <source src="/Uploads/Creators/Images/@advertiserecords[0].ImagePath" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else
                            {
                                <img src="/Uploads/Creators/Videos/@advertiserecords[0].ImagePath"
                                     class="rounded ml-2 mb-3 imgStyle imgW"
                                     alt="" />
                            }
                        }
                        @if (advertiserecords[2].ImagePath == null)
                        {
                            <img src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                                 class="rounded ml-2 mb-3 imgStyle imgW"
                                 alt="" />
                        }
                        else
                        {
                            var check = advertiserecords[2].ImagePath.Split(".");
                            if (check[1] == "mp4")
                            {
                                <video class="rounded ml-2 mb-3 imgW videoOne" controls>
                                    <source src="/Uploads/Creators/Videos/@advertiserecords[2].ImagePath" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else
                            {
                                <img src="/Uploads/Creators/Videos/@advertiserecords[2].ImagePath"
                                     class="rounded ml-2 mb-3 imgStyle imgW"
                                     alt="" />
                            }
                        }

                    </div>

                    <div class="col-lg-6 mb-3 mb-lg-0">

                        @if (advertiserecords[1].ImagePath == null)
                        {
                            <img id="centreImg1"
                                 src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg"
                                 class="rounded mb-4 imgStyle"
                                 alt="" style="width:100%"/>
                        }
                        else
                        {
                            var check = advertiserecords[1].ImagePath.Split(".");
                            if (check[1] == "mp4")
                            {
                                <video id="centreImg1" class="rounded mb-3" controls style="width:100%">
                                    <source src="/Uploads/Creators/Videos/@advertiserecords[1].ImagePath" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            }
                            else
                            {
                                <img id="centreImg1"
                                     src="/Uploads/Creators/Videos/@advertiserecords[1].ImagePath"
                                     class="rounded mb-3 imgStyle"
                                     alt="" style="width:100%"/>
                            }
                        }

                    </div>
                </div>
            </div>
            }
            else if (advertiserecords.Count() == 5)
            {
                <div class="container pt-4 " style="padding-bottom: 20px; padding-left:30px; border: 5px solid #D3D3D3 ">
                    <div class="row pt-4 pr-2">
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            @if (advertiserecords[0].ImagePath == null)
                            {
                                <img src="/Uploads/Creators/Images/1185912a-2478-47ab-95c9-d8ed94358969_img3.jfif"
                                     class="w-100 shadow-1-strong rounded ml-2 mb-4 imgStyle"
                                     alt="" />
                            }
                            else
                            {
                                var check = advertiserecords[0].ImagePath.Split(".");
                                if (check[1] == "mp4")
                                {
                                    <video class="w-100 shadow-1-strong rounded ml-2 mb-4" controls>
                                        <source src="/Uploads/Creators/Videos/@advertiserecords[0].ImagePath" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img src="/Uploads/Creators/Videos/@advertiserecords[0].ImagePath"
                                         class="w-100 shadow-1-strong rounded ml-2 mb-4 imgStyle"
                                         alt="" />
                                }
                            }
                            @if (advertiserecords[1].ImagePath == null)
                            {
                                <img src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                                     class="w-100 shadow-1-strong rounded ml-2 mb-4 imgStyle"
                                     alt="" />
                            }
                            else
                            {
                                var check = advertiserecords[1].ImagePath.Split(".");
                                if (check[1] == "mp4")
                                {
                                    <video class="w-100 shadow-1-strong rounded ml-2 mb-4" controls>
                                        <source src="/Uploads/Creators/Videos/@advertiserecords[1].ImagePath" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img src="/Uploads/Creators/Videos/@advertiserecords[1].ImagePath"
                                         class="w-100 shadow-1-strong rounded ml-2 mb-4 imgStyle"
                                         alt="" />
                                }
                            }
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            @if (advertiserecords[2].ImagePath == null)
                            {
                                <img id="centreImg"
                                     src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg"
                                     class="w-100 shadow-1-strong rounded mb-4 imgStyle"
                                     alt="" />
                            }
                            else
                            {
                                var check = advertiserecords[2].ImagePath.Split(".");
                                if (check[1] == "mp4")
                                {
                                    <video id="centreImg" class="w-100 shadow-1-strong rounded mb-4" controls>
                                        <source src="/Uploads/Creators/Videos/@advertiserecords[2].ImagePath" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img id="centreImg"
                                         src="/Uploads/Creators/Videos/@advertiserecords[2].ImagePath"
                                         class="w-100 shadow-1-strong rounded mb-4 imgStyle"
                                         alt="" />
                                }
                            }
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            @if (advertiserecords[3].ImagePath == null)
                            {
                                <img src="/Uploads/Creators/Images/35b34c9a-aebb-48bc-b623-e455c95f45bc_Ganesha.jpg"
                                     class="w-100 shadow-1-strong rounded  mb-4 imgStyle"
                                     alt="" />
                            }
                            else
                            {
                                var check = advertiserecords[3].ImagePath.Split(".");
                                if (check[1] == "mp4")
                                {
                                    <video class="w-100 shadow-1-strong rounded  mb-4" controls>
                                        <source src="/Uploads/Creators/Videos/@advertiserecords[3].ImagePath" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img src="/Uploads/Creators/Videos/@advertiserecords[3].ImagePath"
                                         class="w-100 shadow-1-strong rounded  mb-4 imgStyle"
                                         alt="" />
                                }
                            }

                            @if (advertiserecords[4].ImagePath == null)
                            {
                                <img src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                                     class="w-100 shadow-1-strong rounded mb-4 imgStyle"
                                     alt="" />
                            }
                            else
                            {
                                var check = advertiserecords[4].ImagePath.Split(".");
                                if (check[1] == "mp4")
                                {
                                    <video class="w-100 shadow-1-strong rounded mb-4" controls>
                                        <source src="/Uploads/Creators/Videos/@advertiserecords[4].ImagePath" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img src="/Uploads/Creators/Videos/@advertiserecords[4].ImagePath"
                                         class="w-100 shadow-1-strong rounded mb-4 imgStyle"
                                         alt="" />
                                }
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
</div>

<div class="popup">
    <header>
        <span>Share a link</span>
        <div class="close"><i class="fa fa-close"></i></div>
    </header>
    <div class="content">
        <p>Share this link via</p>
        <ul class="icons">
            <a href="#"><i class="fa fa-code"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            @*<a href="#"><i class="fab fa-telegram-plane"></i></a>*@
        </ul>
        <p>Or copy link</p>

        <div class="field">
            <i class="url-icon uil uil-link"></i>
            <input type="text" readonly value="example.com/share-link">
            <button>Copy</button>
        </div>
    </div>

</div>
<script>
    var viewBtn = document.querySelector(".view-modal"),
        popup = document.querySelector(".popup"),
        close = popup.querySelector(".close"),
        field = popup.querySelector(".field"),
        input = field.querySelector("input"),
        copy = field.querySelector("button");
    viewBtn.onclick = () => {
        popup.classList.toggle("show");
    }
    close.onclick = () => {
        viewBtn.click();
    }
    copy.onclick = () => {
        input.select(); //select input value
        if (document.execCommand("copy")) { //if the selected text copy
            field.classList.add("active");
            copy.innerText = "Copied";
            setTimeout(() => {
                window.getSelection().removeAllRanges(); //remove selection from document
                field.classList.remove("active");
                copy.innerText = "Copy";
            }, 3000);
        }
    }
</script>
@section Scripts{
    <script src="~/js/VideoStats.js"></script>
}
