@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@using Neosoft.FAMS.WebApp.Services

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoRecords = (VideoGetAllDto)ViewData["videoData"];
    var creatorRecords = (ContentCreatorDto)ViewData["creatorData"];
    var likes = TempData["Likes"];
    var dislikes = TempData["Dislikes"];
    var views = TempData["Views"];
    var shares = TempData["Share"];

    var session = Convert.ToInt64(TempData["Session"]);



}

<head>
    <link rel="stylesheet" href="~/css/Viewer/VideoPlayer.css" />
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <script src="~/js/VideoStats.js"></script>
    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
    <style>
        #instructions {
            max-width: 100%;
            max-height: 50%;
            text-align: left;
            margin: 30px 190px;
        }
        /* Show the controls (hidden at the start by default) */
        .video-js .vjs-control-bar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    </style>



</head>
<div id="instructions">

    <video id="my_video_1"
           class="video-js vjs-default-skin vjs-big-play-centered"
           width="100%" height="267px"
           controls
           preload="none" poster='/Uploads/Creators/Videos/@videoRecords.VideoImage'
           data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
        <source src="/Uploads/Creators/Videos/@videoRecords.UploadVideoPath" type='video/mp4' />

    </video>
    <h3><b> @videoRecords.Title </b>
    </h3>
    <label><label id="views">@views </label> <b>  <i class="fas fa-eye"></i></b></label>

    <br />


    <div class="col-9">
        <button id="like" type="button" class="btn btn-primary"><span id="likeSpan">@likes </span><span id="likeIcon" class="fa fa-thumbs-o-up"></span></button>&emsp;&emsp;
        <button id="dislike" type="button" class="btn btn-primary"><span id="dislikeSpan">@dislikes </span><span id="dislikeIcon" class="fa fa-thumbs-o-down"></span> </button>&emsp;&emsp;
        <button type="button" class="btn btn-primary view-modal">@shares <span class="fa fa-share share"></span> Share</button>

        <span id="Auto">
            <b>Auto Next</b>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </span>
    </div>

    <input type="text" id="videoId" value="@videoRecords.VideoId" hidden />
    <input type="text" id="viewerId" value="@session" hidden />
    <br />

    <div class="row">
        <div class="col-3">
            @if (creatorRecords.ProfilePhotoPath == null)
            {
                <img src="~/DefaultPhotos/default_profile.png" alt="Avatar" style="width: 80px;" class="rounded-circle" />
            }
            else
            {
                <img src="~/Uploads/Creators/Images/@creatorRecords.ProfilePhotoPath" alt="Avatar" style="width: 80px;" class="rounded-circle" />
            }

            <h4><b>@creatorRecords.CreatorName</b></h4>
            
            <h6 style="color: grey;">Published On :@string.Format("{0:MMM dd, yyyy}", @videoRecords.CreatedOn)</h6>
        </div>

        <div class="col-9">
            <h4><b>Video Description : </b></h4>
            <p id="ContentDescription">
                @videoRecords.Decription
            </p>
        </div>
    </div>

</div>

<div class="popup">
    <header>
        <span>Share a link</span>
        <div class="close"><i class="fa fa-close"></i></div>
    </header>
    <div class="content">
        <p>Share this link via</p>
        <ul class="icons">
            <a href="#"><i class="fa fa-code"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            @*<a href="#"><i class="fab fa-telegram-plane"></i></a>*@
        </ul>
        <p>Or copy link</p>

        <div class="field">
            <i class="url-icon uil uil-link"></i>
            <input type="text" readonly value="example.com/share-link">
            <button>Copy</button>
        </div>
    </div>
   
</div>
<script>
    var viewBtn = document.querySelector(".view-modal"),
        popup = document.querySelector(".popup"),
        close = popup.querySelector(".close"),
        field = popup.querySelector(".field"),
        input = field.querySelector("input"),
        copy = field.querySelector("button");
    viewBtn.onclick = () => {
        popup.classList.toggle("show");
    }
    close.onclick = () => {
        viewBtn.click();
    }
    copy.onclick = () => {
        input.select(); //select input value
        if (document.execCommand("copy")) { //if the selected text copy
            field.classList.add("active");
            copy.innerText = "Copied";
            setTimeout(() => {
                window.getSelection().removeAllRanges(); //remove selection from document
                field.classList.remove("active");
                copy.innerText = "Copy";
            }, 3000);
        }
    }
</script>
