@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;
@using Neosoft.FAMS.WebApp.Services

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoRecords = (VideoGetAllDto)ViewData["videoData"];
    var creatorRecords = (ContentCreatorDto)ViewData["creatorData"];
    var likes = TempData["Likes"];
    var dislikes = TempData["Dislikes"];
    var views = TempData["Views"];
    var shares = TempData["Share"];

    var session = Convert.ToInt64(TempData["Session"]);
    //VideoStatistics _videoStatistics = new VideoStatistics();
    //long likes = _videoStatistics.GetLikes(@videoRecords.VideoId,session);
    //long dislikes = _videoStatistics.GetDislikes(@videoRecords.VideoId, session);
    //long views = _videoStatistics.GetViews(@videoRecords.VideoId, session);



}

<head>

    <link rel="stylesheet" href="~/css/Viewer/VideoPlayer.css" />
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <script src="~/js/VideoStats.js"></script>
</head>
<div id="VideoSection">
    <video id="my-video"
           class="video-js vjs-big-play-centered"
           controls
           preload="auto"
           width="1024"
           height="464"
           poster="/Uploads/Creators/Videos/@videoRecords.VideoImage"
           data-setup="{}">
        <source src="/Uploads/Creators/Videos/@videoRecords.UploadVideoPath" />

        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
        <script>

        </script>
    </video>
    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
</div>

<div id="DetailSection">
    <h4>@videoRecords.Title</h4>
    <h6><h6 id="views">@views</h6>Views</h6>
</div>
<br />
<input type="text" id="videoId" value="@videoRecords.VideoId" hidden />
<input type="text" id="viewerId" value="@session" hidden />
<div id="ButtonSection" class="row">
    <div class="col-6">
        <button id="like" type="button" class="btn btn-primary"><span id="likeSpan">@likes</span><span id="likeIcon" class="fa fa-thumbs-o-up"></span></button>&emsp;&emsp;
        <button id="dislike" type="button" class="btn btn-primary"><span id="dislikeSpan">@dislikes</span><span id="dislikeIcon" class="fa fa-thumbs-o-down"></span> </button>&emsp;&emsp;
        <button type="button" class="btn btn-primary view-modal"><span class="fa fa-share share">@shares</span> Share</button>
    </div>
    <div class="col-3">
        <span id="Auto"><b>Auto Next</b></span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>

</div>
<br />

<div class="row border" id="DescSection">
    <div class="col-1">
        @if (creatorRecords.ProfilePhotoPath == null)
        {
            <img src="~/DefaultPhotos/default_profile.png" alt="Avatar" style="width: 80px;" class="rounded-circle"/>
        }
        else
        {
            <img src="~/Uploads/Creators/Images/@creatorRecords.ProfilePhotoPath" alt="Avatar" style="width: 80px;" class="rounded-circle"/>
        }

    </div>
    <div class="col-3">
        <h4><b>@creatorRecords.CreatorName</b></h4>
        <h6> Videos</h6>
        <h6 style="color: grey;">Published On :@string.Format("{0:MMM dd, yyyy}", @videoRecords.CreatedOn)</h6>
    </div>

    <div class="col-4 border">
        <p id="ContentDescription">
            @videoRecords.Decription
        </p>
    </div>
</div>


<div class="popup">
    <header>
        <span>Share a link</span>
        <div class="close"><i class="fa fa-close"></i></div>
    </header>
    <div class="content">
        <p>Share this link via</p>
        <ul class="icons">
            <a href="#"><i class="fa fa-code"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            @*<a href="#"><i class="fab fa-telegram-plane"></i></a>*@
        </ul>
        <p>Or copy link</p>

        <div class="field">
            <i class="url-icon uil uil-link"></i>
            <input type="text" readonly value="example.com/share-link">
            <button>Copy</button>
        </div>
    </div>
</div>
<script>
    var viewBtn = document.querySelector(".view-modal"),
        popup = document.querySelector(".popup"),
        close = popup.querySelector(".close"),
        field = popup.querySelector(".field"),
        input = field.querySelector("input"),
        copy = field.querySelector("button");
    viewBtn.onclick = () => {
        popup.classList.toggle("show");
    }
    close.onclick = () => {
        viewBtn.click();
    }
    copy.onclick = () => {
        input.select(); //select input value
        if (document.execCommand("copy")) { //if the selected text copy
            field.classList.add("active");
            copy.innerText = "Copied";
            setTimeout(() => {
                window.getSelection().removeAllRanges(); //remove selection from document
                field.classList.remove("active");
                copy.innerText = "Copy";
            }, 3000);
        }
    }
</script>